body{
	background-image: url(../../IMAGES/100.png);
	background-repeat: no-repeat;
	background-size: 1550px 900px;
	font-family: Arial, Helvetica, sans-serif;
}

#b{
	margin: 400px;
	margin-left: 600px;
}